<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div>
    <button class="btn btn-primary mb-3"><i class="fa fa-user-plus"></i> Add Employee</button>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let employee of employees">
      <div class="contact-box center-version">
        <a href="#profile.html">
          <img
            alt="image"
            class="img-circle"
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
          />
          <h3 class="m-b-xs fs-4">
            {{ employee?.name }}
          </h3>
          <div class="fs-6">
            {{ employee?.jobTitle }}
          </div>
        </a>
        <div class="contact-box-footer">
          <div class="m-t-xs btn-group">
            <a class="btn btn-xs btn-white"
              ><i class="fa fa-phone"></i> Call
            </a>
            <a class="btn btn-xs btn-white"
              ><i class="fa fa-envelope"></i> Email</a
            >
            <a class="btn btn-xs btn-white"
              ><i class="fa fa-user-plus"></i> Follow</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
